.body_cliente {
    background-color: #0d0d0de4;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    overflow: hidden; /* Prevenir el desbordamiento */
}

h1 {
    font-size: 50px;
    margin-bottom: 40px;
    color: #00d4ff;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(0, 212, 255, 0.7), 0px 0px 10px rgba(0, 255, 255, 0.5);
    transform: perspective(400px) rotateX(15deg);
}

.card-container {
    display: flex; /* Usar flex para alinear las tarjetas horizontalmente */
    justify-content: center; /* Centrar las tarjetas */
    gap: 30px; /* Espacio entre las tarjetas (ajustar según sea necesario) */
    flex-wrap: wrap; /* Permitir que las tarjetas se envuelvan en pantallas más pequeñas */
}

.cliente-card {
    width: 350px; /* Ancho de la tarjeta */
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 212, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-bottom: 30px; /* Margen inferior para espacio entre filas de tarjetas */
}


.cliente-card img {
    width: auto;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 255, 255, 0.5);
    transform: perspective(300px) rotateY(15deg);
}

.cliente-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00ffae;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 255, 174, 0.7);
}

.cliente-card p {
    font-size: 16px;
    color: #e0e0e0;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.2);
}

.cliente-card:hover {
    transform: perspective(1000px) rotateY(15deg) translateY(-10px) scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 255, 255, 0.8);
}

