footer {
    background-color: #001f3f;
    color: white;
    height: 250px;
    position: relative; /* Asegura que el footer se mantenga relativo al contenido */
    text-align: justify;
    justify-content: space-between;
    border-radius: 2px red solid;
    margin: 0  1200px 0 0;
    padding: 5%;
}

.linkedin-link {
    color: white;
    text-decoration: none;
}

.linkedin-link:hover {
    text-decoration: underline;
}

.fa-hand-point-up {
    display: inline-block;
}

.footer-logo {
    max-width: 20%;
    width: auto;
    height: auto;
    transition: transform 0.3s ease; /* Añade una transición para la animación */
}

.footer-logo:hover {
    transform: scale(1.5); /* Aumenta el tamaño al pasar el mouse */
}


@media screen and (max-width: 780px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: auto; /* Cambiado a auto para que el footer se ajuste al contenido */
        padding: 10px 0; /* Reducido padding */
        position: relative;
        font-size: 1em; /* Reducir el tamaño de la fuente en el footer */
    }

    .footer-logo {
        max-width: 20%; /* Aumentar ligeramente para pantallas pequeñas */
    }

    .linkedin-link {
        font-size: 0.9em; /* Reducir el tamaño de fuente de los enlaces */
    }

    .fa-hand-point-up {
        font-size: 1.2em; /* Reducir el tamaño del icono */
    }
    
    /* Ajustar elementos adicionales dentro del footer si es necesario */
    .row {
        flex-direction: column; /* Cambiar a columna para un mejor ajuste */
        align-items: center; /* Centrar los elementos */
    }

    .blink {
        font-size: 0.8em; /* Reducir tamaño de texto para el efecto de parpadeo */
    }
}
