* {
    margin: 0;
    padding: 0;
}


body {
    background: url("../img/paisaje_fondo1.jpg") no-repeat center center fixed !important;
    background: linear-gradient(145deg, #141e30, #243b55);
    background-size: cover;
    margin: auto;
    height: 100vh;
    justify-content: start;
}
/* Botones de acción */
.div_buttom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.div_buttom a,
.div_buttom button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.div_buttom a {
    background-color: #05b779;
    color: white;
    text-decoration: none;
}

.div_buttom button {
    background-color: #136877;
    color: white;
}

/* boton de subir */
#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1a5080;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
    display: none;
    border-radius: 50%;
}
.main_principal {
    width: 70%; /* Ocupa todo el ancho disponible */
    margin: 0 ; /* Sin margen, ocupa el espacio completo de la columna */
    padding: 0; /* Sin relleno */
    box-sizing: border-box; /* Asegura que el ancho y el alto incluyan el padding y el borde */
    min-height: 65vh; /* Altura mínima igual a la ventana del navegador */
    background-color: transparent !important; /* Color de fondo transparente */
    overflow: hidden; /* Oculta el desbordamiento */
}

aside {
    height: auto; /* Permite que el aside se ajuste a su contenido */
}

iframe {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    border: none; /* Sin borde */
    padding: 0; /* Sin relleno */
    margin-top: 5%;
    display: block; /* Comportamiento de bloque */
    height: calc(100vh - 100px); /* Altura dinámica, ajusta según tu diseño */
    min-height: 1800px; /* Altura mínima */
}

.container-fluid {
    display: flex; /* Flexbox para alinear los elementos */
}

.row {
    flex-grow: 1; /* Permite que la fila crezca según el contenido */
}
