/* .init_info {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #1c1c1c93, #2e2e2ea4);
    color: #e6b2b2;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin: 20px 0;
    color: #00ff99;
    text-shadow: 0 0 10px rgba(0, 255, 153, 0.5);
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.1em;
    margin: 10px 0;
    background: rgba(238, 255, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

li:hover {
    background: rgba(0, 255, 153, 0.3);
}



@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    h2 {
        font-size: 1.5em;
    }

    p, li {
        font-size: 1em;
    }
} */