* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 10px;
    width: 100cqmax;
    height: auto;
    z-index: 1000;
    position: relative;
}

.nav-logo {
    max-width: 50px;
    height: auto;
}

.nav-company-name {
    color: #ECF0F1;
    margin-left: 10px;
    font-size: 1.2em;
    padding: auto;
}

.nav-en {
    background-color: #34495E;
    color: #ECF0F1;
    padding: 0.5em 1em;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.offcanvas {
    z-index: 1050; 
}


.nav-en:hover {
    text-decoration: underline;
}

.offcanvas-body {
    padding: 10px;
}

.offcanvas-body a {
    color: #ffffff;
}

.offcanvas-body a:hover {
    color: #ccc;
}
