* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    max-width: 50px;
    height: auto;
}

.nav-company-name {
    color: #ECF0F1;
    margin-left: 10px;
    font-size: 1.2em;
}

.nav-en {
    background-color: #34495E;
    color: #ECF0F1;
    padding: 0.5em 1em;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.nav-iframe {
    width: 100%;
    height: 100px;
    border: none;
    position: relative;
    z-index: 100; /* Asegura que el nav esté por encima */
}

.nav-en:hover {
    background-color: #1ABC9C;
}


/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .hamburger {
        display: block;
        background: none;
        border: none;
        color: #ECF0F1;
        font-size: 24px;
    }
    
    nav {
        display: none;
        flex-direction: column;
        background-color: #2C3E50;
        width: 100%;
        height: 200px;
    }
    
    nav.active {
        display: flex;
    }
    .nav-iframe {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px !important; 
        z-index: 9999;
        border: none;
    }
    
}


