* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C3E50;
    padding: 10px;
    width: 100cqmax;
    height: auto;
    z-index: 1000; /* Asegúrate de que el header esté en primer plano */
    position: relative; /* Permite al z-index funcionar correctamente */
}

.nav-logo {
    max-width: 50px;
    height: auto;
}

.nav-company-name {
    color: #ECF0F1;
    margin-left: 10px;
    font-size: 1.2em;
    padding: auto;
}

.nav-en {
    background-color: #34495E;
    color: #ECF0F1;
    padding: 0.5em 1em;
    margin-left: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.nav-en:hover {
    background-color: #1ABC9C;
}

.offcanvas {
    z-index: 1050 ;} 