/* General body styles */
.registro-body {
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at center, #0a0a0a30, #1a1a1a4b, #141e3061);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  width: 90%;
  align-items: center;
  scrollbar-width: none;
}

/* Container for the form */
.form-container {
  background: rgba(20, 30, 48, 0.507);
  border-radius: 20px;
  padding: 5%;
  box-shadow: 0 10px 30px rgba(30, 80, 120, 0.5);
  width: 100%;
  max-width: 600px;
  animation: float 5s ease-in-out infinite;
}

/* Form title */
.registro-title {
  color: #e0e0e0;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

/* Label styles */
.registro-label {
  display: block;
  color: #e0e0e0;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Input styles with 3D effect */
.registro-input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(30, 80, 120, 0.8);
  color: #e0e0e0;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  box-shadow: inset 0 0 10px rgba(30, 80, 120, 0.5), 0 4px 15px rgba(30, 80, 120, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.registro-input:focus {
  transform: translateY(-5px);
  box-shadow: inset 0 0 15px rgba(30, 80, 120, 0.481), 0 10px 20px rgba(30, 80, 120, 0.5);
}

/* Button styles */
.registro-button {
  background: linear-gradient(135deg, rgba(94, 137, 170, 0.511), rgba(89, 122, 108, 0.278), rgba(90, 89, 89, 0.486));
  border: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  font-size: 1.2rem;
  letter-spacing: 2px;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 4px 10px rgba(30, 80, 120, 0.5), inset 0px 0px 10px rgba(30, 80, 120, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.registro-button:hover {
  background: linear-gradient(135deg, rgba(118, 170, 212, 0.9), rgba(203, 237, 223, 0.9), rgba(66, 65, 65, 0.9));
  transform: translateY(-5px);
  box-shadow: 0px 15px 30px rgba(19, 51, 77, 0.5);
  color: black;
}

/* Float animation */
@keyframes float {
  0% { transform: perspective(1000px) rotateY(-10deg) translateY(0); }
  50% { transform: perspective(1000px) rotateY(-10deg) translateY(-10px); }
  100% { transform: perspective(1000px) rotateY(-10deg) translateY(0); }
}
